.swimming {
  width: 200px;
}
.stic {
  border: 1px solid red;
  height: 30px;
  width: 70px;
  position: sticky;
  left: 0px;
  top: 10px;
}

table {
  border-collapse: collapse;
}
td,
th {
  border: 1px solid black;
  padding: 10px 20px;
}
th {
  background-color: green;
  color: white;
}
tr:nth-child(2n) {
  background-color: indianred;
}
tr:nth-child(2n + 1) {
  background-color: #9378a7;
}
tr:hover {
  background-color: green;
  color: white;
}
.fab {
  font-size: 24px;
}
.fb {
  color: #1a6ed8;
}
.yt {
  color: #ff0000;
}
@keyframes sliding {
  0% {
    background-color: yellow;
    left: 0;
    top: 0;
  }
  25% {
    top: 225px;
    background-color: red;
    transform: scale(0.5);
  }
  50% {
    top: 0;
    background-color: yellow;
    transform: scale(1);
  }
  75% {
    top: 225px;
    background-color: red;
    transform: scale(0.5);
  }
  100% {
    background-color: yellow;
    left: 900px;
    top: 0;
  }
}
.stage {
  width: 1000px;
  height: 300px;
  background-color: lightskyblue;
}
.ball {
  width: 100px;
  height: 100px;
  background-color: limegreen;
  border-radius: 50%;
  position: relative;
  animation: sliding 2s ease-in-out 0.5s infinite alternate;
  animation-play-state: running;
}
